<footer>
    <div class="footer-content">
        <p>&copy; 2024 - Promise Obiozor. 2024 Climate Data App</p>
        <div class="icons">
            <a href="#"  title="Github">Github</a>
            <a href="#" title="Github">Github</a>
        </div>
    </div>
</footer>