<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/createData">Create Data</a></li>
        <li><a href="/addWeather">Weather Data Form</a></li>
        <li><a href="/editData">Edit Data</a></li>
    </ul>
</nav>